# =========================
# Environment variables
# =========================
.env

# =========================
# Docker
# =========================
docker-compose.yaml
docker-compose.yml

# =========================
# Build (Java / Spring Boot)
# =========================
/target/
/build/

# =========================
# IDEs
# =========================
.idea/
*.iml
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
